<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar-and-tasks" href="/tabs/calendar-and-tasks">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="materias" href="/tabs/materias">
      <ion-icon name="folder-open"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/tabs/estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="modo-estudio" href="/tabs/modo-estudio">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
