<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar-and-tasks" href="/tabs/calendar-and-tasks">
      <ion-icon name="calendar" aria-hidden="true"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="materias" href="/tabs/materias">
      <ion-icon name="folder-open" aria-hidden="true"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/tabs/estadisticas">
      <ion-icon name="stats-chart" aria-hidden="true"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="modo-estudio" href="/tmodo-estudio">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
