<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="calendar-and-tasks" href="/tabs/calendar-and-tasks">
      <div class="bubble"></div>
      <ion-icon src="assets/icon/tab-horario.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="materias" href="/tabs/materias">
      <div class="bubble"></div>
      <ion-icon src="assets/icon/tab-materias.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/tabs/estadisticas">
      <div class="bubble"></div>
      <ion-icon src="assets/icon/tab-estadisticas.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="modo-estudio" href="/tabs/modo-estudio">
      <div class="bubble"></div>
      <ion-icon src="assets/icon/tab-estudio.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
