<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Equilibria</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bienestar">
        <ion-icon slot="icon-only" name="rose-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nueva tarea" [(ngModel)]="nuevaTarea">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Materia" [(ngModel)]="materiaSeleccionada">
        <ion-select-option *ngFor="let m of materias" [value]="m.id">
          {{ m.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="agregarTarea()">
      Agregar tarea
    </ion-button>

    <ion-item *ngFor="let materia of materias">
      <div>
        <strong>{{ materia.nombre }} - {{ materia.profesor }}</strong>

        <div *ngFor="let tarea of tareas">
          <div *ngIf="tarea.materiaId === materia.id">
            • {{ tarea.titulo }}
            <button (click)="eliminarTarea(tarea.id)">❌</button>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
