
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Equilibria</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/bienestar">
        <ion-icon slot="icon-only" name="rose-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start">Tus materias</ion-label>
    <ion-button slot="end" (click)="abrirModalCrear()">
      <ion-icon name="add"></ion-icon>
      Agregar Materias
    </ion-button>
  </ion-item>

  <ion-card *ngFor="let materia of materias"
            class="materia-card"
            [routerLink]="['/student-subject', materia.idMateria]">
    <ion-card-header>
      <div class="materia-card-title">
        <span class="materia-color-bubble" [style.background]="getColorHex(materia.color)"></span>
        <span class="materia-card-title-text">{{ materia.nombre }}</span>
        <ion-button fill="clear" size="small" (click)="editarMateria(materia); $event.stopPropagation()">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Dedicación</ion-label>
        <ion-note slot="end">{{ obtenerDedicacion(materia.idMateria) }}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Cumplimiento semanal</ion-label>
        <ion-note slot="end">{{ obtenerCumplimientoSemanal(materia.idMateria) }}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Última nota registrada</ion-label>
        <ion-note slot="end">{{ obtenerUltimaNotaMateria(materia.idMateria) }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Modal para agregar/editar materias -->
  <ion-modal (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>{{ modoEditar ? 'Editar Materia' : 'Agregar Materia' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">{{ modoEditar ? 'Actualizar' : 'Confirmar' }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-title>Campos obligatorios</ion-title>

        <ion-item>
          <ion-label position="stacked">Nombre de la materia</ion-label>
          <ion-input [(ngModel)]="materia.nombre" name="nombreMateria"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Color de la materia</ion-label>
          <div class="color-scroll">
            <div class="color-selector">
              <ion-chip *ngFor="let c of colores"
                        [class.selected]="materia.color === c.value"
                        (click)="materia.color = c.value"
                        [style.background-color]="c.hex">
              </ion-chip>
            </div>
          </div>
        </ion-item>




        <ion-item>
          <ion-label position="stacked">Créditos de la materia</ion-label>
          <ion-input [(ngModel)]="materia.creditos" type="number" name="creditosMateria"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Horas semanales de clase</ion-label>
          <ion-input type="number"
                     [(ngModel)]="materia.horasClaseSemanal"
                     (ionInput)="actualizarHoras($event)"
                     name="horasClaseSemanal">
          </ion-input>
          <ion-button slot="end" (click)="confirmarHoras()">Confirmar</ion-button>
        </ion-item>


        <!-- Bloques horarios ahora son obligatorios -->
        <ion-title>Bloques horarios (obligatorio)</ion-title>
        <ion-button expand="block"
                    (click)="abrirPopover($event)"
                    [disabled]="!horasConfirmadas">
          Agregar bloque horario
        </ion-button>



        <ion-list>
          <ion-item *ngFor="let h of horarios">
            <ion-label>
              {{ diasSemana[h.dia] }} | {{ h.horaInicio }}:00 - {{ h.obtenerFin() }}:00
              <div *ngIf="h.salon">Salón: {{ h.salon }}</div>
            </ion-label>
            <ion-button fill="clear" color="danger" (click)="eliminarHorario(h.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-popover [isOpen]="popoverOpen" (didDismiss)="popoverOpen=false">
          <ng-template>
            <ion-content>
              <ion-item>
                <ion-label position="stacked">Día</ion-label>
                <ion-select [(ngModel)]="nuevoHorario.dia" name="diaHorario">
                  <ion-select-option [value]="1">Lunes</ion-select-option>
                  <ion-select-option [value]="2">Martes</ion-select-option>
                  <ion-select-option [value]="3">Miércoles</ion-select-option>
                  <ion-select-option [value]="4">Jueves</ion-select-option>
                  <ion-select-option [value]="5">Viernes</ion-select-option>
                  <ion-select-option [value]="6">Sábado</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Hora inicio</ion-label>
                <ion-select [(ngModel)]="horaSeleccionada" name="horaInicioHorario">
                  <ion-select-option *ngFor="let i of [7,8,9,10,11,12,13,14,15,16,17,18]" [value]="i">
                    {{ i < 10 ? '0' + i : i }}:00
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Duración</ion-label>
                <ion-input type="number" min="1" [(ngModel)]="nuevoHorario.duracionHoras" name="duracionHorario"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Salón (opcional)</ion-label>
                <ion-input type="text" placeholder="Opcional" [(ngModel)]="nuevoHorario.salon" name="salonHorario"></ion-input>
              </ion-item>

              <ion-button expand="block" (click)="agregarHorario()">Agregar</ion-button>
            </ion-content>
          </ng-template>
        </ion-popover>



        <ion-title>Campos opcionales</ion-title>
        <ion-item>
          <ion-label position="stacked">Profesor (opcional)</ion-label>
          <ion-input [(ngModel)]="materia.profesor" placeholder="Opcional" name="profesorMateria"></ion-input>
        </ion-item>
      </ion-content>


    </ng-template>
  </ion-modal>
</ion-content>

